extends layout

block content
  h1= title
  p Working on  #{title} JS
  
  button(type="button", class="btn btn-success", onclick="update()") Press Me 
  p 
  div(id="target") Display
  
  script.
    var client_count=0;
    function update(){
      client_count+=1;
      
      document.getElementById("target").innerHTML="Value Now "+client_count  ;
    }
  
  p 
  a(href="package") Go to Package